.kewlor-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background: transparent;
  justify-content: end;
  align-items: end;
}

/* Modal Content */
.kewlor-modal-content {
  right: 10px;
  background-color: #fefefe;
  width: 280px;
  margin-bottom: 70px;
  margin-right: 10px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.kewlor-modal-header {
  padding: 10px 16px 10px 16px;
  background-color: #6ed3c5;
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.kewlor-modal-close {
  cursor: pointer;
}

.kewlor-form {
  padding: 10px 16px 10px 16px;
}

.kewlor-input {
  border: 1px solid #b2b2b2;
  outline: none;
  border-radius: 4px;
  padding: 8px 10px 8px 10px;
  width: -webkit-fill-available;
}
.kewlor-label {
  color: #6ed3c5;
  line-height: normal;
  margin: 0;
}
.kewlor-input-group {
  margin-top: 10px;
  width: 100%;
}

.kewlor-submit-btn {
  width: max-content;
  padding: 8px 20px 8px 20px;
  background-color: #6ed3c5 !important;
  color: white;
  border: 0;
  border-radius: 40px;
  cursor: pointer;
}

.kewlor-message-button {
  position: fixed;
  bottom: 10px;
  right: 10px;
  height: 46px;
  width: 46px;
  border: 0;
  border-radius: 30px;
  background-color: #6ed3c5;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.kewlor-form-footer {
  display: flex;
  justify-content: end;
  margin-top: 10px;
}
.kewlor-success-text {
  color: #28a745;
  font-size: 12px;
  display: none;
}
